@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: GTPressura;
        font-weight: 400;
        src: url('../fonts/GTPressura-Regular.woff') format('woff');
    }

    @font-face {
        font-family: SJK;
        font-weight: 400;
        src: url('../fonts/SJKProtozastupny-Regular.woff') format('woff');
    }

    :root {
        font-size: 18px;
    }

    @screen lg {
        :root {
            font-size: 16px;
        }
    }

    article p + p {
        @apply mt-6;
    }

    .router-link-exact-active {
        @apply underline;
    }
}