@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: GTPressura;
        font-weight: 400;
        src: url('../fonts/GTPressura-Regular.woff') format('woff');
    }

    @font-face {
        font-family: SJK;
        font-weight: 400;
        src: url('../fonts/SJKProtozastupny-Regular.woff') format('woff');
    }

    ::-webkit-scrollbar {
        display: none;
    }

    * {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    article h1 {
        @apply my-5 text-2xl;
    }

    article h2 {
        @apply my-4 text-lg;
    }

    article a {
        @apply underline;
    }

    article a:hover {
        @apply no-underline;
    }

    article p + p {
        @apply mt-6;
    }

    article [data-oembed-url] {
        @apply my-8;
    }

    .router-link-exact-with-hash-active {
        @apply underline;
    }
}